//  -----------------------------
//  Accessibility
//  -----------------------------

*,
*:focus {
    outline: none;
}

[data-state='keydown'] {
    *:focus {
        box-shadow: 0 0 0 1px $--color-white, 0 0 0 3px $--color-black, 0 0 0 4px $--color-white !important;
        z-index: 2;
    }
}

.skip-link {
    z-index: 100;
    position: fixed;
    top: 6px;
    left: 6px;
    background-color: $--color-white;
    @include visuallyhidden;
    color: $--color-primary;
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    font-weight: 600;
    
    // Reset style on focus
    &:focus {
        @include visuallyhidden(false);
        position: fixed;
        padding: 8px;
        box-shadow: 0 0 0 1px $--color-white, 0 0 0 3px $--color-black, 0 0 0 4px $--color-white;
    }
}
