@mixin media($size) {
  @media #{media($size)} {
    @content;
  }
}

// Clearfix
@mixin clearfix {
    &:before,
    &:after {
        content: '';
        display: table;
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

// Visuallyhidden
@mixin visuallyhidden($hide: true) {
    @if $hide == true {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    } @else {
        position: inherit;
        overflow: auto;
        clip: auto;
        width: auto;
        height: auto;
        margin: 0;
    }
}

@mixin headings {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        @content;
    }
}

// REM font-size
@mixin rem-fontsize($size) {
    font-size: remove-px($size) + px;
    font-size: rem($size);
}

@mixin padding-content() {
    @include media(lg) {
        padding-left: $content-padding;
        padding-right: $content-padding;
    }
}
